.CFUserTextEncoding
.DS_Store
.Trash/
.dropbox/
.m2/
.viminfo
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
.ssh/
.zcompdump
.zsh-update
.bash_history
.oh-my-zsh/
.zsh_history
.zshrc
.vim/
.neocomplcache/
.vim_mru_files
